<div id="container">
  <header>
    <div id="header-inner" class="skinny-container flexbox">
      <div id="logo" class="float-left2">
        <div id="logo-inner">
          <%= image_tag "aerofluxLogo.svg" %>
        </div>
      </div>
      <div id="team-members" class="float-right2 flexbox">
        <div class="avatar-wrapper"><%= image_tag "pharmacist.png" %></div>
        <div class="avatar-wrapper"><%= image_tag "man-avatar.png" %></div>
        <div class="avatar-wrapper"><%= image_tag "pharmacist.png" %></div>
        <div class="avatar-wrapper"><%= image_tag "man-avatar.png" %></div>
        <div class="avatar-wrapper"><%= image_tag "pharmacist.png" %></div>
      </div>
    </div>
  </header>
  <main>
      
  </main>
</div>

